<!DOCTYPE html>
<html>
    <head>
<%- include commons/html_header.ejs %>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/list.css">
    </head>
<body  style="font-family: monospace; width: 315px;" >
<div data-role="page" data-theme="e" id="page2">
     <div data-theme="e" data-role="header">
         <div data-theme="e" data-role="header">
         </div>
         <div class="top_header">
             <img src="/images/head_title.png" alt="image" />
         </div>
<%- include commons/navbar.ejs %>
     </div>
  <!-- contents_start *******************************-->
  <div id="contents">
  <section id="teamWrap">
      <div class="teamA">
<div id="ad_header" style="width: 100%;">
<!--
<a href="http://hb.afl.rakuten.co.jp/hgc/0caafbcc.e661d1d6.0caafbcd.37106065/?pc=http%3a%2f%2fbooks.rakuten.co.jp%2frb%2f11555507%2f%3fscid%3daf_link_tbl&m=http%3a%2f%2fm.rakuten.co.jp%2fbook%2fi%2f15744937%2f"><img src="/images/butoukai/ad/banner_20130705_1.png"></a>
<a href="https://cat.infoseek.co.jp/"><img src="/images/butoukai/ad/banner_20130705_2.gif"></a>
<img src="/images/butoukai/ad/banner_20140110_1.png">
<img src="/images/butoukai/ad/banner_20130405.png">
-->
</div>
    <hgroup>
<!--
      <h1>&nbsp;新サ一武道会</h1>
-->
      <h1>&nbsp;新卒課題</h1>
    </hgroup>
      <ul class="arrowsNoList">
<% for(var id in candidates) {%>
        <li>
          <span class="profPhoto" style="background: url(<%= candidates[id]["img"] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=<%= id %>" rel="external"><img src="<%= candidates[id]["img"] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%- candidates[id]["name"] %></h3>
            <% if (candidates[id]["teamName"]) { %><%= candidates[id]["teamName"] %><br /><% } %>
            <% if (candidates[id]["title"]) { %> 「<%- candidates[id]["title"] %>」<% } %>
          </div>
        </li>
<% } %>
      </ul>
<div id="ad_footer">
<!--
<a href="http://www.fujitv.co.jp/shomu2/index.html" target="blank"><img src="/images/butoukai/ad/banner_20130802_2.png"></a>
<img src="/images/butoukai/ad/banner_20131005_1.png">
<img src="/images/butoukai/ad/banner_20130405.png">
-->
</div>
  </div>
</section>

  </div>
  <!-- contents_end  -->
<%- include commons/footer.ejs %>
</div>

    </body>
</html>
