<!DOCTYPE html>
<html>
    <head>
<%- partial('partials/commons/html_header.ejs')%>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/list.css">
    </head>
<body  style="font-family: monospace; width: 315px;" >
<div data-role="page" data-theme="e" id="page2">
     <div data-theme="e" data-role="header">
         <div data-theme="e" data-role="header">
         </div>
         <div class="top_header">
             <img src="/images/head_title.png" alt="image" />
         </div>
<%- partial('partials/commons/navbar.ejs')%>
     </div>
  <!-- contents_start *******************************-->
  <div id="contents">
  <section id="teamWrap">
      <div class="teamA">
<div id="ad_header" style="width: 100%;">
<!--
<a href="http://hb.afl.rakuten.co.jp/hgc/0caafbcc.e661d1d6.0caafbcd.37106065/?pc=http%3a%2f%2fbooks.rakuten.co.jp%2frb%2f11555507%2f%3fscid%3daf_link_tbl&m=http%3a%2f%2fm.rakuten.co.jp%2fbook%2fi%2f15744937%2f"><img src="/images/butoukai/ad/banner_20130705_1.png"></a>
-->
<a href="https://cat.infoseek.co.jp/"><img src="/images/butoukai/ad/banner_20130705_2.gif"></a>
</div>
    <hgroup>
      <h1>Tech&nbsp;Talk</h1>
    </hgroup>
      <ul class="arrowsNoList">
        <li>
          <span class="profPhoto" style="background: url(<%= img[810] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=810" rel="external"><img src="<%= img[810] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[810] %></h3>
            <%- text[810] %><br />
            <% if (title[810]) { %> 「<%- title[810] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[820] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=820" rel="external"><img src="<%= img[820] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[820] %></h3>
            <%- text[820] %><br />
            <% if (title[820]) { %> 「<%- title[820] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[830] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=830" rel="external"><img src="<%= img[830] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[830] %></h3>
            <%- text[830] %><br />
            <% if (title[830]) { %> 「<%- title[830] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[840] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=840" rel="external"><img src="<%= img[840] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[840] %></h3>
            <%- text[840] %><br />
            <% if (title[840]) { %> 「<%- title[840] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[850] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=850" rel="external"><img src="<%= img[850] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[850] %></h3>
            <%- text[850] %><br />
            <% if (title[850]) { %> 「<%- title[850] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[860] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=860" rel="external"><img src="<%= img[860] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[860] %></h3>
            <%- text[860] %><br />
            <% if (title[860]) { %> 「<%- title[860] %>」<% } %>
          </div>
        </li>
      </ul>
<div id="ad_footer">
<img src="/images/butoukai/ad/banner_20130405.png">
</div>
  </div>
</section>
  
  </div>
  <!-- contents_end  --> 
<%- partial('partials/commons/footer.ejs')%>
</div>

    </body>
</html>
