<!DOCTYPE html>
<html>
    <head>
<%- partial('partials/commons/html_header.ejs')%>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/list.css">
    </head>
<body  style="font-family: monospace; width: 320px;" >
<div data-role="page" data-theme="e" id="page2">
     <div data-theme="e" data-role="header">
         <div data-theme="e" data-role="header">
         </div>
         <div class="top_header">
             <img src="/images/head_title.png" alt="image" />
         </div>
<%- partial('partials/commons/navbar.ejs')%>
     </div>
  <!-- contents_start *******************************-->
  <div id="contents">
  <section id="teamWrap">
      <div class="teamA">
<div id="ad_header" style="width: 100%;">
<!--
<a href="http://hb.afl.rakuten.co.jp/hgc/0caafbcc.e661d1d6.0caafbcd.37106065/?pc=http%3a%2f%2fbooks.rakuten.co.jp%2frb%2f11555507%2f%3fscid%3daf_link_tbl&m=http%3a%2f%2fm.rakuten.co.jp%2fbook%2fi%2f15744937%2f"><img src="/images/butoukai/ad/banner_20130705_1.png"></a>
-->
<a href="https://cat.infoseek.co.jp/"><img src="/images/butoukai/ad/banner_20130705_2.gif"></a>
</div>
    <hgroup>
      <h1>Tech&nbsp;Talk</h1>
    </hgroup>
      <ul class="arrowsNoList">
        <li>
          <span class="profPhoto" style="background: url(<%= img[710] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=710" rel="external"><img src="<%= img[710] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[710] %></h3>
            <%- text[710] %><br />
            <% if (title[710]) { %> 「<%- title[710] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[720] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=720" rel="external"><img src="<%= img[720] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[720] %></h3>
            <%- text[720] %><br />
            <% if (title[720]) { %> 「<%- title[720] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[730] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=730" rel="external"><img src="<%= img[730] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[730] %></h3>
            <%- text[730] %><br />
            <% if (title[730]) { %> 「<%- title[730] %>」<% } %>
          </div>
        </li>
<!--
        <li>
          <span class="profPhoto" style="background: url(<%= img[640] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=640" rel="external"><img src="<%= img[640] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[640] %></h3>
            <%- text[640] %><br />
            <% if (title[640]) { %> 「<%- title[640] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[650] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=650" rel="external"><img src="<%= img[650] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[650] %></h3>
            <%- text[650] %><br />
            <% if (title[650]) { %> 「<%- title[650] %>」<% } %>
          </div>
        </li>
        <li>
          <span class="profPhoto" style="background: url(<%= img[660] %>) no-repeat; background-size:100% auto">
            <a href="/detail/?id=660" rel="external"><img src="<%= img[660] %>" style="opacity: 0;"></a>
          </span>
          <div class="profText">
            <h3><%= team[660] %></h3>
            <%- text[660] %><br />
            <% if (title[660]) { %> 「<%- title[660] %>」<% } %>
          </div>
        </li>
-->
      </ul>
<div id="ad_footer">
<img src="/images/butoukai/ad/banner_20130405.png">
</div>
  </div>
</section>
  
  </div>
  <!-- contents_end  --> 
<%- partial('partials/commons/footer.ejs')%>
</div>

    </body>
</html>
